<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS Training</title>
</head>
<body>
    <h2>Rechteck</h2>
    <p>Breite:<%=breite%></p>
    <p>Länge:<%=laenge%></p>

    <h2>Schüler</h2>
    <p>Geschlecht:<%=geschlecht%></p>
    <p>Alter:<%=alter%></p>

    <h2>Fußballer</h2>
    <p>Vorname:<%=vorname%></p>
    <p>Nachname:<%=nachname%></p>
    <p>Verein:<%=verein%></p>
    <p>Größe:<%=groesse%></p>
    <p>Marktwert:<%=marktwert%></p>
    


</body>
</html>